*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 46px;
    align-items: center;
    background-color: #F5F9F0;
    font-family: 'Poppins', 'sans-serif';
    font-size: 14px;
    font-weight: bolder;
    color: #4B3F30;
    width: 100%;
    
}
.brand{
    display: inline;
    justify-content: center;
    align-items: center;
    margin-left: 54px;
    width: 136px;
    height: 32px;
}
nav ul, li{
    list-style: none;
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: space-around;
    margin: 1px;
    padding: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    flex-wrap: nowrap;
}
.img-search{
    margin-left: 52px;
}
nav #icon{
    width: 30px;
    height: 30px;
}
.presentation{
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
align-content: space-around;
background-color: #F5F9F0;
}
.colunm{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F9F0;
}
#text-presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 40px;
    width: 360px;
}
#text-presentation h3{
    color: #4b3f30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 180px;
    font-weight: bolder;   
    font-family: 'Poppins', 'sans-serif';
    font-size: 22px;
    position: relative;
    text-align: initial;
}
#text-presentation p{
color: #2b2217;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-left: 40px;
width:240px;
height: 40px;
font-family: 'Roboto', 'sans-serif';
font-weight: bold;
font-size: 14px;
text-align: left;
}
#photo1{
    display: flex;
    height: 540px;
    width: 372px;
}
#photo1 img{
    width: 440px;
    height: 600px;
    z-index: 2;
}
.paymentform{
    display: flex;
    background-color: #e2f5dd; 
    height: 200px;
    width:100%;
}
.paymentform img{
    display: flex;
    justify-content: left;
    align-content: start;
    align-items: start;
    width: 55px;
    height: 55px;
    position: relative;
    top: 12px;
    left: 50px;
}
aside{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 80%;  
    float: left;  
    flex-direction: row;
    align-content: center;
    margin-left: 60px;
    margin-right: 50px;
}
aside h6{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 16px;
    color: #4b3f30;
}
aside p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    font-size: 12px;
    text-align: initial;
    position: relative;
    left: 6px;
    color: #2b2217;
}
.free{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 118px;
}
.security{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.security p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 124px;
    align-content: center;
}
.emphasis{
    background-color: #f3f3f3;
    display:inline;
}
.emphasis h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', 'sans-serif';
  font-size: 28px;
  font-weight: bolder;
  color: #60735C;
  text-transform: uppercase;
  margin: 12px;
}
.emphasis img{
    width: 360px;
    height: 420px;
}
.img-emphasis{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-end;
    justify-content: space-around;
    margin-left: 32px;
    width: 90%;
    position: relative;
}
.first-img{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Poppins', 'sans-serif';
    font-size: 28px;
    font-weight: 300;
    width: 90%;
    position: static;
    margin-left: 22px;
    margin-bottom: 52px;
}
.first-img p{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    position: relative;
}
.circle{
    width: 4px;
    height: 4px;
}
.second-img{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Poppins', 'sans-serif';
    font-size: 28px;
    font-weight: 400;
    width: 90%;
    position: static;
    margin-left: 22px;
}
.second-img p{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    position: relative;  
}
.third-img{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Poppins', 'sans-serif';
    font-size: 28px;
    font-weight: 300;
    width: 90%;
    position: static;
    margin-left: 22px;
}
.third-img p{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    position: relative;  
}
.new-collection{
    background-color: #2B2217;
}
.new-collection h3{
    color: #ED8E20;
    font-size: 20px;
    font-family: 'Poppins', 'sans-serif';

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
}
.new-collection p{
    color: #8A7862;
    font-size: 18px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.new-collection img{
    position: relative;
}
.container{
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}
.gallery-wrapper{
    overflow-x: auto;
    overflow: hidden;
}
.gallery{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 15px;
}
#arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-left, .arrow-right{
    position: absolute;
    border-radius: 100%;
    right: auto;
    bottom: 0;
    color: white;
    line-height: 250px;
    width: 10px;    
    cursor: pointer;
    border: none;
    z-index: 2;
    background-image: linear-gradient(to left, transparent 0%, #375230 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}
.arrow-right{
   left: auto;
   right: 0;
    background-image: linear-gradient(to right, transparent 0%, #375230 200%);
}
.item{
    width: 300px;
    height: 302px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
}
.item2{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
}
.item3{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
}