*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #F5F9F0;
    font-family: 'Poppins', 'sans-serif';
    font-size: 0.875rem;
    font-weight: 600;
    color: #4B3F30;
    width: 100%;
    
}
.brand{
    display: inline;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    height: 2rem;
}

nav ul, li{
    list-style: none;
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: space-around;
    margin: 0.063rem;
    padding: 0.75rem;
    text-transform: uppercase;
    white-space: nowrap;
    flex-wrap: nowrap;
}
#btn-mobile{
    display: none;
}
.img-search{
    margin-left: 3.25rem;
}
nav #icon{
    width: 1.875rem;
    height: 1.875rem;
}
.presentation{
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
align-content: space-between;
background-color: #F5F9F0;
}
.colunm{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F9F0;
}
#text-presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-right: 3.125rem;
}
#text-presentation h3{
    color: #4b3f30;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    padding-bottom: 0.5rem;
    width: 11.25rem;
    font-weight: bolder;   
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.375rem;
    position: relative;
    text-align: initial;
}
#text-presentation h3 span{
    position: absolute;
    top: 46%;
    left: 75%;
    transform: translate(50%, 50%);
}
#text-presentation p{
color: #2b2217;
display: flex;
flex-direction: column;
align-items: flex-start;
align-content: flex-start;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
padding-left: 1.875rem;
width: 15rem;
height: 2.5rem;
font-family: 'Roboto', 'sans-serif';
font-weight: 400;
font-size: 0.813rem;
text-align: left;
}
.mobile{
    display: none;
}
#photo1{
    display: flex;
    height: 33.75rem;
    width: 20.25rem;
}
#photo1 img{
    width: 27.5rem;
    height: 37.5rem;
    z-index: 2;
}
.paymentform{
    display: flex;
    background-color: #e2f5dd; 
    height: 12.5rem;
    width:100%;
}
.paymentform img{
    display: flex;
    justify-content: left;
    align-content: start;
    align-items: start;
    width: 3.483rem;
    height: 3.483rem;
    position: relative;
    top: 0.75rem;
    left: 3.125rem;
}

aside{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 80%;  
    float: left;  
    flex-direction: row;
    align-content: center;
    margin-left: 3.75rem;
    margin-right: 3.125rem;
}

aside h6{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 1rem;
    color: #4b3f30;
}
aside p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    font-size: 0.75rem;
    text-align: initial;
    position: relative;
    left: 0.375rem;
    color: #2b2217;
}
.slider{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.free{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 7.375rem;
}
.free img{
    display: none;
}
.pay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.pay img{
    display: none;
}
.security{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.security img{
    display: none;
}
.security p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 8.75rem;
    align-content: center;
}
.emphasis{
    background-color: #f3f3f3;
    display:inline; 
    width: 90%;
}
.emphasis h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', 'sans-serif';
  font-size: 1.75rem;
  font-weight: bold;
  color: #60735C;
  text-transform: uppercase;
  margin: 0.75rem;
}
.emphasis-img{
    width: 22.5rem;
    height: 26.25rem;
    border-radius: 0.4rem;
}
.img-emphasis{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-end;
    justify-content: space-around;
    margin-left: 2rem;
    width: 90%;
    position: relative;
}
.first-img{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.75rem;
    font-weight: 300;
    width: 90%;
    position: static;
    margin-left: 1.375rem;
    margin-bottom: 3.25rem;
}
.first-img p{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    font-family: 'Roboto', 'sans-serif';
    font-size: 0.875rem;
    font-weight: 400;
    position: relative;
}
.info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.circle-emphasis{
    width: 0.5rem;
    height: 0.5rem;
    position: relative;
    left: -4rem;
    top: 1.65rem;
}
.circle{
    width: 0.25rem;
    height: 0.25rem;
}
.second-img{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.75rem;
    font-weight: 400;
    width: 90%;
    position: static;
    margin-left: 1.375rem;
}
.second-img p{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    font-family: 'Roboto', 'sans-serif';
    font-size: 0.875rem;
    font-weight: 400;
    position: relative;  
}
.third-img{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.75rem;
    font-weight: 300;
    width: 90%;
    position: static;
    margin-left: 1.375rem;
}
.third-img p{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    font-family: 'Roboto', 'sans-serif';
    font-size: 0.875rem;
    font-weight: 400;
    position: relative;  
}
.new-collection{
    background-color: #2B2217;
}
#square{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 84%;
    top: 1rem;
    position: relative;
}
.square{
    width: 3.75rem;
    height: 3.75rem;
    position: relative;
    left: 7.5rem;
}
.new-collection h3{
    color: #ED8E20;
    font-size: 1.25rem;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.new-collection p{
    color: #8A7862;
    font-size: 1.125rem;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.container{
    position: relative;
    padding: 0.983rem;
    max-width: 40rem;
    margin: 0 auto;
}
.gallery-wrapper{
    overflow-x: auto;
    overflow: hidden;
}
.gallery{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 0.938rem;
}
.arrow-left{
    left: -4.125rem;
}
.arrow-left, .arrow-right{
    position: absolute;
    top: 11.25rem;
    color: #375230;
    font-size: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    cursor: pointer;
    border: none;
    z-index: 2;
    background-image: linear-gradient(to left, transparent 0%, #D9D9D9 200%);
    border-radius: 50%;
}
.arrow-right{
   left: auto;
   right: 0;
    background-image: linear-gradient(to right, transparent 0%, #D9D9D9 200%);
}
.item1{
    width: 21.875rem;
    height: 21.875rem;
    flex-shrink: 0;
    border-radius: 0.4rem;
    transition: all 600ms ease-in-out;
}
.item2, .item3{
display: flex;
width: 10.625rem;
height: 10.75rem;
border-radius: 0.2rem;
}
.item3{
    margin-top: 0.375rem;
}
.assessments{
    background-color: #3C4739;
    height: 31.25rem;
    padding: 4.875rem;
}
.assessments h4{
    font-family: 'Roboto', 'sans-serif';
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    width: 15.438rem;
    height: 2rem;
    margin-left: 12.5rem;
    color: #788D73;
    padding-top: 1.75rem;
}
.color{
    color: #FFBB00;
}
.assessments h3{
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.125rem;
    font-weight: bold;
    color: #A7D99B;
    width: 12.5rem;
    height: 9rem;
    margin-left: 12.5rem;
    padding-top: 1.75rem;
    text-transform: uppercase;
}
.assessments-clients{
display: flex;
}
#vector{
    float: right;
    padding: 0.75rem;
    padding-right:0.375rem;
}
.vector{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    width: 4.375rem;
    height: 4.375rem;
    bottom: 8.75rem;
    right: 0.875rem;
}
.comments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #ffffff;
}
.comment-client1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aspas-left{
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    margin-right: 25.75rem;
    top: 2.125rem;
    left: 1.5rem;
}
.aspas-right{
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    margin-left: 0.375rem;
    bottom: 1.7rem;
    left: 19.625rem;

}
.aspas-right2{
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    margin-left: 0.375rem;
    bottom: 1.125rem;
    left: 6.625rem;
}

cite{
    display: flex;
    align-items: center;
    width: 22.5rem;
    height: 5rem;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    font-size: 0.875rem;
    padding-left: 3.375rem;
}
.client{
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.client-name, .client-name1{
    display: flex;
    align-items: center;
}
.client-name, .client-name1 p{
    color: #ffffff;
    font-size: 0.875rem;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 300;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.who-we-are{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    height: 18.75rem;
}
.eccomerce-img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    right: 2.813rem;
}
.logo{
    width: 12.5rem;
    height: 3,125rem;
}
.footer-circle{
    width: 0.375rem;
    height: 0.375rem;    
    margin-top: 2.25rem;
    margin-left: 0.25rem;
}
.footer-img{
    width: 15.625rem;
    height: 19.87rem;
    z-index: 2;
    top: 0.56rem;
    position: relative;
}
.eccomerce-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.75rem;
    font-family: 'Poppins','sans-serif';
    font-weight: normal;
    width: 38.75rem;
    height: 21.875rem;
}
.eccomerce-text p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.75rem;
    padding-top: 1.375rem;
}
.footer-background{
    background-color: #F0FBED;
    z-index: 0;
}
.footer-copyright{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    text-align: left;
    padding: 1rem;
    align-content: space-around;
}
.name{
    padding: 0.25rem;
    width: 20%;
}
.contact{
    padding: 0.25rem;
    font-size: 0.75rem;
    text-align: left;
    width: 20%;
}
.contact h6{
    padding: 0.75rem 0.5rem;
    font: 600;
    font-size: 0.875rem;
    color: #30392D;
}
.contact p{
    font-size:  0.75rem;
    color: #4E6349;
}
.info{
    display: flex;
    width: 40%;
    flex-direction: column;
    padding: 0.25rem;
    font-size: 0.75rem;
    text-align: left;
}
.info h6{
    padding: 0.75rem;
    font: 600;
    font-size: 0.875rem;
    color: #30392D;
}
.info p{
    color: #4E6349;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 80%;
}
.fa-brands{
    padding-right: 1.5rem;
}
.copy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #60735C;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 0.5rem;
    margin-right: 1.5rem;
    position: relative;
    right: 10rem;
}
.copy img{
    width: 0.5rem;
    height: 0.5rem;
}

@media (max-width: 700px), handheld and (orientation: landscape) {
#btn-mobile{
    display: block;
}
#menu{
    display: none;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;

}
.presentation{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.colunm{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#text-presentation{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    right: 1.75rem;
}
.pc{
    display: none;
}
.mobile{
    display: contents;
}
#photo1{
    display: contents;
    width: 50%;
    position: relative;
}
#photo1 img{
    width:9rem;
    height: 13.813rem;
    border-radius: 0.4rem;
}
.pc img{
    display: none;
}
.paymentform{
position: relative;
height: 5rem;
margin: 0 auto;
}

aside{
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
}
.aside h6{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 1rem;
    color: #4b3f30;
    position: relative;
    align-content: center;
    float: left;
    left: -2rem;
    flex-wrap: wrap;
    bottom: 1.65rem;
}
.aside p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    font-size: 0.75rem;
    text-align: initial;
    position: relative;
    left: 5rem;
    color: #2b2217;
    bottom: 1rem;
}
.slider{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 1.938rem;
    width: 100%;
}
.free{
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.free img{
    display: flex;
    flex-direction: row;
    left: -5rem;
    width: 2.5rem;
    height: 2.5rem;
}
.pay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;
}
.pay img{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    left: -3rem;
}
.security {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;
}
.security img{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    left: -3rem;
}
.paymentform select {
    margin-bottom: 1rem;
  }
  
  .paymentform .option-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .paymentform .option-group .option-label {
    flex-grow: 1;
    margin-right: 1rem;
  }
  
  .paymentform .option-group .option-input {
    flex-basis: 5rem;
    margin-right: 1rem;
  }
  
  .paymentform .pay,
  .paymentform .security {
    display: none;
  }
  
  .paymentform .option-input:checked ~ .pay,
  .paymentform .option-input:checked ~ .security {
    display: flex;
    visibility: visible;
  }
  
.emphasis{
  display: flex;
  flex-direction: column;
  width: 100%;  
}
.img-emphasis{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    right: 0.938rem;
}
.emphasis-img{
    width: 8.938rem;
    height: 10.625rem;
}
.circle-emphasis{
    width: 0.625rem;
    height: 0.625rem;
    top: 1rem;
    left: -0.75rem;
}
.first-img{
    display: flex;
}
.first-img p{
    right: 1rem;
}
.info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
}
.second-img p{
    right: 1rem;
}
.third-img{
    display: none;
}
.new-collection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.new-collection p{
    font-size: 0.75rem;
}
#square{
    width: 3.125rem;
}
.square{
    width: 1.875rem;
    height: 1.875rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.item1{
    width: 11.25rem;
    height: 16.25rem;
    border-radius: 0.4rem;
}
.item2, .item3{
    width: 6.25rem;
    height: 7.875rem;
    border-radius: 0.4rem;
}
.arrow-left{
    left: 0;
    top: 7.75rem;
}
.arrow-right{
    top: 7.75rem;
}
.assessments{
    height: 18rem;
    display: flex;
    align-self: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.assessments h4{
    width: 6.438rem;
    line-height: 0.5rem;
    top: 3.125rem;
    right: 15.625rem;
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 70%;
    letter-spacing: 1.5%;
}

.assessments h3{
    width: 100%;
    min-width: 22.5rem;
    top: 1.875rem;
    right: 15.625rem;
    flex-basis: 100%;
    position: relative;
    padding-top: 2.875rem;
    
}
.color{
    position: relative;
}
#vector{
    width: 90%;
    top: 1.65rem;
    left: 21.25rem;
    display: flex;
    flex-direction: row-reverse;
    position: relative;

}
.vector{
    width: 1.438rem;
    height: 1.375rem;
}
.assessments-clients{
    display: flex;
    width: 100%;
    min-width: 22.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.comments{
    display: inherit;
    width: 90%;
    position: relative;
    right: 20%;
    bottom: 44%;
}
.comment-client{
display: contents;
}
.client-name{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.client-name p{
    padding-left: 0.5rem;
}
.comment-client1{
    display: none;
}.who-we-are{
    width: 100%;
    height: 16.438rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}
.eccomerce-text{
    width: 10.5rem;
    height: 7.438rem;
}
.eccomerce-text p{
    display: flex;
    font-size: smaller;
    width: 100%;
}
.footer-img{
    width: 9.938rem;
    height: 16.438rem;
    border-radius: 0.25rem;
}
.logo{
    width: 5rem;
    height: 1.563rem;
    position: relative;
    left: 50%;
}
.footer-copyright{
    width: 100%;
    background-color: #F0FBED;
    display: flex;
    flex-direction: column;
    float: left;
}
.name{
    width: 50%;
    padding: 0.25rem;

}
.info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.info h6{
    padding: 0;
}
.social-media{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: nowrap;
width: 100%;
}
.fa-brands{
    padding-right: 0.5rem;
}
.copy{
    display: none;
}
}